body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(birthday.jpg);
}
.birthdaycard{
    position: relative;
    width: 250px;
    height: 350px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 1s;
}
.birthdaycard:hover{
    transform: perspective(2500px) rotate(6deg);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2),0 10px 100px rgba(0,0,0,0.4);
}
.birthdaycard:hover .cardfront{
    transform: rotateY(-160deg);
}
.birthdaycard:hover .happy{
    visibility: hidden;
}
.cardfront{
    position: relative;
    background-color: white;
    width: 250px;
    height: 350px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2), 30px 0 50px rgba(0,0,0,0.4);
    transition: 0.6s;
}
.happy{
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin: 30px;
    color: gold;
    background-image: linear-gradient(120deg,#a201ff 0%,#fc00da 100%);
    transition: 0.1s;
}
.balloons{
    position: absolute;
}
.balloonone, .balloontwo, .balloonthree, .balloonfour{
    position: absolute;
    width: 85px;
    height: 95px;
    border-radius: 50%;
}
.balloonone{
    background-color: rgba(239,71,111,0.7);
    left: -10px;
    top: 50px;
}
.balloontwo{
    background-color: rgba(6,214,160,0.7);
    left: 50px;
    top: 20px;
}
.balloonthree{
    background-color: rgba(255,209,102,0.7);
    left: 110px;
    top: 50px;
}
.balloonfour{
    background-color: rgba(17,138,178,0.7);
    left: 170px;
    top: 45px;
}
.balloonone::before, .balloontwo::before, .balloonthree::before, .balloonfour::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 155px;
    background-color: #ffd166;
    top: 95px;
    left: 43px;
}
.balloonone::after, .balloontwo::after, .balloonthree::after, .balloonfour:after{
    content: "";
    position: absolute;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: 94px;
    left: 37px;
}
.balloonone:after{
    border-bottom: 10px solid #ef476f;
}
.balloontwo::after{
    border-bottom: 10px solid #06d6a0;
}
.balloonthree::after{
    border-bottom: 10px solid #ffd166;
}
.balloonfour:after{
    border-bottom: 10px solid #118ab2;
}
.cardinside{
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 250px;
    height: 350px;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
    z-index: -1;
}
p{
    font-family:"Brush Script MT",cursive;
    font-size: 1.1rem;
    margin: 40px;
    color:black;
}
.name{
    position: absolute;
    left: 150px;
    top: 250px;
    color: #333;
}
.back{
    font-family:Tahoma,sans-serif;
    background-color: #fc00da;
    color:gold;
    text-align: center;
    margin: 30px;
    outline-color: #333;
    outline-style: dotted;
}